node_modules
.nuxt
.output
.nuxt-poc
.data
dist
.git
.idea
.vscode
*.md
!README.md
docs
public/js
public/html
public/lib
public/css
data/tools.generated.ts
npm-debug.log*
.gitignore
Dockerfile*
docker-compose*.yml
.dockerignore
